{% extends 'base.html' %}
{% block title %}Booking types{% endblock title %}
{% block content %}

  <table class="table table-hover table-bordered table-responsive table-sm">
    <thead class="bg-info text-white text-center">
      <tr>
        <th>Booking Type</th>
        <th>Delete</th>
      </tr>

    </thead>
    <tbody>
       {% for type in object_list %}
      <tr>
        <td class="text-center">{{ type.booking_type }}</td>
        <td><p><a class="custom_icon" href="{% url 'booking:bookingType_remove' type.id %}"><i class="fas fa-trash-alt custom_icon"></i></a></p></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

     <p class="text-center"><a class="btn bg-info text-white btn-sm" href="{% url 'booking:bookingType_new' %}">Add new type</a>
         <a class="btn bg-info text-white btn-sm" href="{% url 'booking:manage_bookings' %}">Back</a></p>
</div>

{% endblock content %}